* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
}

h1,
h2,
h3,
h4,
p,
a,
label,
span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6786064767703957) 0%, rgba(0, 0, 0, 0) 100%), url(./images/img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 800px;
}

#navbar {
    position: fixed;
    top: 0;
    transition: top 0.5s;
    z-index: 9999;
}

nav {
    align-items: center;
    width: 100%;
    padding: 10px 30px;
    gap: 30px;
}

nav img {
    height: 70px;
}

nav ul {
    margin-left: auto;
    background-color: black;
    list-style: none;
    padding: 20px 30px;
    border-radius: 30px;
}

nav ul li {
    display: inline-block;
    padding-right: 30px;

}

nav ul li a {
    color: white;
    transition: 0.3s;
}

.main-text {
    position: absolute;
    top: 190px;
    left: 100px;
    height: 100%;
}

.main-text h1 {
    width: 70%;
    margin: 0;
    font-size: 80px;
    color: white;
}

.main-text h2 {
    font-size: 40px;
    margin: 0;
    padding-bottom: 50px;
    color: aqua;
}

.main-text .btn-light {
    margin-left: 30px;
}

.btn {
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    border-radius: 30px;
}
nav ul li a:active {
    color: blue;
}
nav ul li a:hover,
nav ul li a:active {
    color: blue;
}

.btn-blue:link,
.btn-email:link,
.btn-blue:visited,
.btn-email:visited {
    background-color: blue;
    color: white;
    transition: 0.2s;
}

.btn-blue:hover,
.btn-email:hover,
.btn-blue:active,
.btn-email:active {
    background-color: white;
    color: black;
}

.btn-light:link,
.btn-light:visited {
    background-color: white;
    color: black;
    transition: 0.2s;
}

.btn-light:hover,
.btn-light:active {
    background-color: grey;
    color: white;
}

.btn-dark:link,
.btn-dark:visited {
    background-color: black;
    color: white;
    transition: 0.2s;
}

.btn-dark:hover,
.btn-dark:active {
    background-color: blue;
    color: white;
}


section {
    position: relative;
    background-color: #282e34;
    min-height: 100%;
}

section h3 {
    margin-top: 0;
    padding-top: 30px;
    color: white;
    font-size: 30px;
    text-align: center;
}

.cards {
    gap: 30px;
    justify-content: center;
    padding-bottom: 50px;
}

.card-item {
    width: 25%;
    text-align: center;
    background-color: #282e34;
    transition: 0.1s;
}
.card-item:hover {
    box-shadow: 0px 0px 14px 0px rgba(171,170,170,0.54);
-webkit-box-shadow: 0px 0px 14px 0px rgba(171,170,170,0.54);
-moz-box-shadow: 0px 0px 14px 0px rgba(171,170,170,0.54);
}

.card-item h4 {
    color: aqua;
}
.card-img1 {
    background-image: url(./images/services/Business-Card.jpg);
    background-size: cover;
    background-position: center;
    min-height: 200px;

}
.card-img1:hover {
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

.card-img2 {
    background-image: url(./images/services/catalogue-magazine.jpg);
    background-size: cover;
    background-position: center;
    min-height: 200px;

}
.card-img2:hover {
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

.card-img3 {
    background-image: url(./images/services/invitation.jpg);
    background-size: cover;
    background-position: center;
    min-height: 200px;

}
.card-img3:hover {
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

.card-img4 {
    background-image: url(./images/services/pin.jpg);
    background-size: cover;
    background-position: center;
    min-height: 200px;

}
.card-img4:hover {
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

.card-img5 {
    background-image: url(./images/services/Ticket.jpg);
    background-size: cover;
    background-position: center;
    min-height: 200px;

}
.card-img5:hover {
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

.card-img6 {
    background-image: url(./images/services/trifold-brochure.jpg);
    background-size: cover;
    background-position: center;
    min-height: 200px;

}
.card-img6:hover {
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

.parallax {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8774860285911239) 0%, rgba(0, 0, 0, 0) 100%), url(./images/img2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.card-why {
    gap: 30px;
    justify-content: center;
    padding-bottom: 50px;
}
.card-item-why {
    width: 25%;
    text-align: center;
}
.why-choose {
    height: 100%;
}

.why-choose .cards {
    gap: 50px;
    padding-bottom: 50px;
}

.why-choose span {
    display: inline-block;
    background-color: white;
    margin-left: 50px;
    margin-bottom: 100px;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    color: #282e34;
    font-size: 30px;
    font-weight: 400;
}

img.icon {
    display: block;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    opacity: 0.7;
    margin: auto;
    height: 150px;
}

.why-choose h3,
.why-choose p {
    text-align: center;
}

.why-choose h3 {
    font-size: 20px;
    color: aqua;

}

.why-choose p {
    color: white;
}

footer {
    background-color: rgb(34, 33, 33);
    width: 100%;
    height: 100%;
    padding-top: 40px;
}

.flex-footer {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    color: white;
    padding-bottom: 50px;

}

.footer-style {
    width: 30%;
}

.footer-style span {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
}

.footer-style ul,
.footer-style p {
    color: lightgray;
    list-style: none;
    padding: 10px 0;
    padding-right: 10px;
}

.footer-style ul li {
    padding-bottom: 10px;
}

.email-us {
    flex-grow: 1;
}

.email-us .emailus {
    font-size: 15px;
    padding: 30px 0 10px 10px;
}

.contact {
    width: 22%;
}

.menu {
    width: 15%;
}

.follow {
    width: 10%;
}

.footer-style p {
    padding-right: 40px;
}

.btn-email {
    background-color: rgb(68, 68, 245);
    color: white;
    padding: 20px 30px;
    text-align: center;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    margin-right: 50px;
    margin-left: 30px;
    transition: 0.3s;
}

.email-input {
    padding: 20px 30px;
    flex-grow: 1;
    border-radius: 30px;
}

.relative {
    background-color: #282e34;

}

.contact-us {
    height: 100%;
    background-color: #282e34;
    box-shadow: -2px 6px 5px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px 6px 5px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 6px 5px -2px rgba(0, 0, 0, 0.75);
}

.contact-us h2 {
    font-size: 40px;
    margin-top: 0;
    padding: 50px 0 20px 30px;
    color: white;
}


form {
    background-color: white;
    padding: 40px 30px;
    border-radius: 5px 5px 0 0;
    margin-left: 50px;
    height: 100%;
    width: 700px;

    display: grid;
    gap: 30px;
    justify-content: space-around;
    grid-template-areas:
        "firstName lastName email"
        "phone job subject"
        "message message message"
        "btn-dark btn-dark btn-dark";
}

form label {
    display: inline-block;
    padding-bottom: 20px;
    width: 100%;
}

form input,
form textarea {
    width: 95%;
    border: none;
    border-bottom: 2px solid rgb(181, 179, 179);
    transition: 0.2s;
}

.firstName {
    grid-area: firstName;
}

.lastName {
    grid-area: lastName;
}

.email {
    grid-area: email;
}

.phone {
    grid-area: phone;
}

.job {
    grid-area: job;
}

.subject {
    grid-area: subject;
}

.message {
    grid-area: message;
}

.btn-dark {
    max-width: 150px;
    grid-area: btn-dark;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    border: none;
    transition: 0.3s;
}

form textarea:focus,
form input.effect:focus {
    outline: none;
    padding: 2px;
    width: 100%;
    border-bottom: 2px solid black;
}

input:focus {
    outline: none;
}
.about-us {
    width: 70%;
}
section .about {
    color: white;
    margin: 0;
    font-size: 50px;
    padding: 50px;
}
section .about-sub {
    text-align: left;
    padding-left: 30px;
    color: aqua;
}
.about-us p {
    color: white;
    margin: 0;
    padding: 0 0 50px 30px;
}
main {
    background-color: #282e34;
}
.faq-heading{
    border-bottom: rgb(255, 255, 255);
    padding: 40px 60px;
    font-size: 50px;
    color: white;
    margin: 0;
}
.faq-container{
display: flex;
flex-direction: column;
}
.hr-line{
  width: 100%;
  
}

.faq-page {
    color: rgb(253, 252, 252);
    cursor: pointer;
    padding: 30px 20px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: 0;
}
.faq-body{
   width: 50%; 
   padding: auto;
   
}
.faq-body p {
    padding-left: 20px;
}
.faq-body {
    color: rgb(236, 234, 234);
    padding: 0 18px;
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
}
@media screen and (max-width: 1080px) {
    nav a.btn {
        display: none;
    }
}

@media screen and (max-width: 893px) {
    nav {
        justify-content: center;
        align-items: center;
    }

    nav img {
        margin-top: 30px;
    }
    nav ul {
        margin: auto;

    }

    .main-text {
        position: absolute;
        top: 250px;
        left: 100px;
    }

    .main-text h1 {
        font-size: 60px;
    }

    .main-text h2 {
        font-size: 30px;
    }

    #navbar {
        position: relative;
    }
}